<div class="conteudo">
  <section class="paragraph-filter">
    <p>Encontre uma ação e comece a fazer o bem!</p>
  </section>

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Busque por uma ação.">
    </mat-form-field>
    <span class="element-spacer"></span>
    <mat-form-field>
      <mat-select placeholder="Cidade">
      </mat-select>
    </mat-form-field>
    <span class="element-spacer"></span>
    <mat-form-field>
      <mat-select placeholder="Categoria">
      </mat-select>
    </mat-form-field>
    <span class="element-spacer"></span>
    <mat-form-field>
      <input matInput type="date" />
    </mat-form-field>
  </div>
</div>
